<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--
        Define a profundidade máxima para a árvore "outer join" para
        associações (one-to-one, many-to-one). O valor 0 desativa o outer join.
        Valor recomendado: entre 0 e 3
        -->
        <property name="hibernate.max_fetch_depth">1</property>
        <!-- Habilita a busca por "outer join" -->
        <property name="hibernate.use_outer_join">true</property>
        <!--
        Número máximo de conexões JDBC - não deve ser utilizado em produção.
        Será criado arquivo específico com as definições do Pool de conexões.
        -->
        <property name="connection.pool_size">10</property>
        <!-- Dialeto SQL -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!--
        Gerenciamento automatico da sessão pelo Hibernate (session-per-request).
        -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <!--<property name="hibernate.connection.isolation">2</property>-->
        <!-- Mostra o código SQL no console -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
    
    
        <!-- MAPEAR OS VOs-->
        <!-- classes mapeadas -->
    
        <!-- classes mapeadas Módulo CADASTROS BASE-->
        <mapping class="com.bakeryfactory.cadastros.java.AlmoxarifadoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.AtividadeForCliVO"/>

        <mapping class="com.bakeryfactory.cadastros.java.CargoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.CepVO"/>

        <mapping class="com.bakeryfactory.cadastros.java.ClienteVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ColaboradorVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.CongeladoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.EmpresaContatoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.EmpresaEnderecoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.EmpresaPessoaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.EmpresaTelefoneVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.EmpresaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.EstadoCivilVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.FichaTecnicaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.FornecedorVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.FuncaoVO"/>

        <mapping class="com.bakeryfactory.cadastros.java.MarcaVO"/>
        
        <mapping class="com.bakeryfactory.cadastros.java.MunicipioVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.NcmVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.NivelFormacaoVO"/>      
        <mapping class="com.bakeryfactory.cadastros.java.PaisVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PapelFuncaoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PapelVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PessoaAlteracaoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PessoaContatoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PessoaEnderecoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PessoaFisicaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PessoaJuridicaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PessoaTelefoneVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.PessoaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ProdutoGrupoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ProdutoMarcaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ProdutoSubGrupoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ProdutoTabelaPrecoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ProdutoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.IngredienteVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.IngredientesReceitasVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ReceitaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ModoPreparoVO"/>
        

        <mapping class="com.bakeryfactory.cadastros.java.SetorVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.SituacaoColaboradorVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.SindicatoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.SituacaoForCliVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.TabelaPrecoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.TipoAdmissaoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.TipoRelacionamentoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.TipoColaboradorVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.TransportadoraMunicipioVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.TransportadoraVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.UfVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.UnidadeConversaoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.UnidadeProdutoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.UsuarioVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.VendedorVO"/>
        
        <!-- classes mapeadas Módulo CADASTROS BASE a serem finalizadas
        
         <mapping class="com.bakeryfactory.cadastros.java.AuditoriaVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ClasseProdutoGrupoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.IngredientesReceitasVO"/>
  <mapping class="com.bakeryfactory.cadastros.java.ReceituarioControleCustoVO"/>
        <mapping class="com.bakeryfactory.cadastros.java.ReceituarioPadraoVO"/>
 
        -->

        <!-- classes mapeadas Módulo VENDAS-->
        <mapping class="com.bakeryfactory.vendas.java.VendaCabecalhoVO"/>
        <mapping class="com.bakeryfactory.vendas.java.VendaComissaoVO"/>
        <mapping class="com.bakeryfactory.vendas.java.VendaCondicoesPagamentoVO"/>
        <mapping class="com.bakeryfactory.vendas.java.VendaCondicoesParcelaVO"/>
        <mapping class="com.bakeryfactory.vendas.java.VendaDetalheVO"/>
        <mapping class="com.bakeryfactory.vendas.java.VendaFreteVO"/>
        <mapping class="com.bakeryfactory.vendas.java.VendaOrcamentoCabecalhoVO"/>
        <mapping class="com.bakeryfactory.vendas.java.VendaOrcamentoDetalheVO"/>
        <mapping class="com.bakeryfactory.vendas.java.VendaRomaneioEntregaVO"/>
        <mapping class="com.bakeryfactory.vendas.java.NotaFiscalModeloVO"/>
        <mapping class="com.bakeryfactory.vendas.java.NotaFiscalTipoVO"/>
    
        <!-- classes mapeadas Módulo PCP -->
        <mapping class="com.bakeryfactory.pcp.java.PatrimonioBemVO"/>
        <mapping class="com.bakeryfactory.pcp.java.ProdutoCalculoPrecoMedidasVO"/>
        <mapping class="com.bakeryfactory.pcp.java.PcpInstrucaoOpVO"/>
        <mapping class="com.bakeryfactory.pcp.java.PcpInstrucaoVO"/>
        <mapping class="com.bakeryfactory.pcp.java.PcpOpCabecalhoVO"/>
        <mapping class="com.bakeryfactory.pcp.java.PcpOpDetalheVO"/>
        <mapping class="com.bakeryfactory.pcp.java.PcpServicoColaboradorVO"/>
        <mapping class="com.bakeryfactory.pcp.java.PcpServicoEquipamentoVO"/>
        <mapping class="com.bakeryfactory.pcp.java.PcpServicoVO"/>
        
        <!-- classes mapeadas Módulo COMPRAS 
       <mapping class="com.bakeryfactory.compras.java.CompraCotacaoDetalheVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraCotacaoPedidoDetalheVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraCotacaoVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraFornecedorCotacaoVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraPedidoDetalheVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraPedidoVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraReqCotacaoDetalheVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraRequisicaoDetalheVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraRequisicaoInternaCabecalhoVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraRequisicaoInternaDetalheVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraRequisicaoVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraTipoPedidoVO"/>
       <mapping class="com.bakeryfactory.compras.java.CompraTipoRequisicaoVO"/>
        -->
        
        <!-- classes mapeadas Módulo CONTABILIDADE-->
        <mapping class="com.bakeryfactory.contabilidade.java.ContabilContaVO"/>
        <mapping class="com.bakeryfactory.contabilidade.java.PlanoContaRefSpedVO"/>
        <mapping class="com.bakeryfactory.contabilidade.java.PlanoContaVO"/>
                
        <!-- classes mapeadas Módulo TRIBUTACAO -->
        <mapping class="com.bakeryfactory.tributacao.java.TributGrupoTributarioVO"/>
        <mapping class="com.bakeryfactory.tributacao.java.TributIcmsCustomCabVO"/>
        <mapping class="com.bakeryfactory.tributacao.java.TributOperacaoFiscalVO"/>
        
         <!-- classes mapeadas Módulo CALENDÁRIO PRODUÇÃO -->
        <mapping class="com.bakeryfactory.calendarioproducao.java.AgendaCategoriaCompromissoVO"/>
        <mapping class="com.bakeryfactory.calendarioproducao.java.AgendaCompromissoConvidadoVO"/>
        <mapping class="com.bakeryfactory.calendarioproducao.java.AgendaCompromissoVO"/>
        <mapping class="com.bakeryfactory.calendarioproducao.java.AgendaNotificacaoVO"/>
        <mapping class="com.bakeryfactory.calendarioproducao.java.RecadoDestinatarioVO"/>
        <mapping class="com.bakeryfactory.calendarioproducao.java.RecadoRemetenteVO"/>
        <mapping class="com.bakeryfactory.calendarioproducao.java.ProducaoSalaEventoVO"/>
        <mapping class="com.bakeryfactory.calendarioproducao.java.ProducaoSalaVO"/>
        
    
    </session-factory>
</hibernate-configuration>
